{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block content %}
<ul class="items">
	{% for artist in artists %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<i class="fas fa-users"></i>
			<div class="item">
				<h5>{{ artist.name }}</h5>
			</div>
		</a>
	</li>
	<button style="-webkit-appearance: none; float: right; cursor: pointer;" class ="editArtist-button"> <i  data-id="{{ artist.id }}" class="fa fa-edit"></i></button>
	{% endfor %}
</ul>
{% endblock %}